.zippy {
 margin-left:40px;
 margin-right:40px;
 border-radius: 40px;
  border: 2px solid #ccc;
  
    
}


.zippy-heading {
     border-radius: 40px;
    font-weight:bold;
    padding: 40px;
    cursor:pointer;
}


.zippy-body {
  
    padding:20px;
}

.expanded {
    background:#f0f0f0;

}